@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #3a4cbd;
  transition: 0.4s;
}

.container--flex{
  display: flex;
  justify-content: space-around;
}

.row {
  flex-wrap: wrap;
}

@media (hover: hover) {
  a:hover {
    background-color: #3a4cbd;
  }
}


